.form {
    width: 100%;
    display: flex;
    padding: 1.4rem 1rem;
    border-top: 1px solid #cf561e;
}

.input {
    flex: 1 0 auto;
    padding: 0.7rem 1rem;
    border: none;
    outline: none;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.button {
    cursor: pointer;
    color: #fff;
    background-color: var(--color-orange);
    font-weight: bold;
    padding: 0 2rem;
    border: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.button:hover {
    filter: brightness(125%);
}