.modal-close {
    display: none;
}

.modal-open {
    display: block;
    width: 90%;
    max-width: 550px;
    border-radius: 8px;
    padding: 0 15px 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    z-index: 10;
}

.bg {
    background: #cf571e;
}

.inputs {
    display: flex;
}

.inputs input {
    width: 100%;
    outline: none;
    border: none;
    padding: 5px;
}

.inputs button {
    margin-left: 10px;
    background: black;
    color: white;
}