.bg {
    background: #cf571e;
}

.inputs {
    display: flex;
}

.inputs input {
    width: 100%;
    outline: none;
    border: none;
    padding: 5px;
}

.inputs button {
    margin-left: 10px;
    background: black;
    color: white;
}